@tailwind base;
@tailwind components;
@tailwind utilities;

.text-color {
  @apply text-slate-900 dark:text-slate-100;
}

.bg-color {
  @apply bg-slate-100 dark:bg-slate-900;
}

.btn-sec-color {
  @apply bg-slate-200 text-slate-900 border-slate-500 hover:bg-slate-300 dark:bg-slate-800 dark:text-slate-100 dark:border-slate-500 dark:hover:bg-slate-700;
}

.toggle {
  @apply w-10 h-6 bg-slate-200 border-slate-500 hover:bg-slate-300 dark:bg-slate-800 dark:border-slate-500 dark:hover:bg-slate-700 border-2 rounded-full;
}

.toggle[data-state="checked"] {
  @apply bg-slate-300 dark:bg-slate-500;
}

.toggle-thumb {
  @apply block w-4 h-4 bg-slate-200 rounded-full will-change-transform transition-transform	translate-x-0.5;
}

.toggle-thumb[data-state="checked"] {
  @apply translate-x-4;
}

.overlay {
  @apply fixed inset-0 opacity-70	bg-slate-900;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.footer {
  @apply bottom-0 left-0 flex items-center justify-center gap-3 w-full p-2 md:p-4 text-lg md:text-xl text-slate-900 dark:text-slate-100;
}

.fa-github {
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
