/* Layout variations */
.layout-color-solid {
  background-color: white;
  border-color: white;
  border-width: 1px;
  /* Repeat for dark mode */
}
.layout-gray-solid .layout-color-soft {
  background-color: white;
  border-color: white;
  border-width: 1px;
  /* Repeat for dark mode */
}
.layout-gray-soft .layout-color-surface {
  background-color: white;
  border-color: white;
  border-width: 1px;
  /* Repeat for dark mode */
}
.layout-gray-surface .layout-color-outline {
  border-color: white;
  border-width: 1px;
  /* Repeat for dark mode */
}
.layout-gray-outline
.h-layout-color-solid
.h-layout-gray-solid
.h-layout-color-soft
.h-layout-gray-soft
.h-layout-color-surface
.h-layout-gray-surface
.h-layout-color-outline
.h-layout-gray-outline
.h-layout-color-ghost
.h-layout-gray-ghost

/* Content variations */
.content-color-solid
.content-gray-solid
.content-color-soft
.content-gray-soft
.content-color-ghost
.content-gray-ghost;
